<center><h1>Welcome to the International Lyricist</h1></center>
<center>By Justin Wei</center>
<hr>
<div class="row">
            <div class="col-sm-6">
                <h3>About</h3>
                <p>
                    This website allows users to search for songs, and translate the lyrics into other languages! Any guest
                    may translate songs and browse the Discover page, however, only signed-in users can save and edit translations
                    of songs.
                </p>
            </div>
            <div class="col-sm-6">
                    <h3>Behind the Scenes</h3>
                    <p>
                        The song-searching capability was implemented using <a href="https://github.com/guilhermesad/rspotify">RSpotify</a> (a ruby gem for Spotify API).
                        Lyrics were queried using a <a href="https://github.com/pilu/musix_match">wrapper for the MusixMatch API</a>,
                        and translation of text was completed via <a href="https://github.com/aegorov/yandex-translator">a ruby wrapper for the Yandex Translate API</a></b>.
                        <a href="https://github.com/plataformatec/devise">Devise</a> was used for the Devise scaffolding, and there are two accounts with administrative capabilities.
                    </p>
            </div>
        </div>

